<div align=center>
<br />
<% @config[:types].sort_by{|_, s| s[:description]}.each do |_, settings| %>
  <img src="<%= settings[:icon] %>">&nbsp;<%= settings[:description] %>
<% end %>
<br />
<%= @points.size %> locations in <%= @points.map{|p| p[:country]}.uniq.size %> countries
</div>
