<div class="jumbotron">
  <h1>Travlrmap</h1>
  <p>This site is creating using Travlrmap version <%= Travlrmap::VERSION %>.  It's a simple tool designed to be self-hosted or on a PaaS like Heroku. All the configuration and points are maintained in static YAML files.</p>
  <p>It's a standalone system, has no social features and is more aimed a city level tracker for places you have been rather than a coffee shop level check-in system, though a mobile app is planned to assist in logging visits while on the move.</p>
  <p>It's written by <a href="https://www.devco.net/">R.I.Pienaar</a>, released under the terms of the Apache 2 licence and can be found at <a href="http://github.com/ripienaar/travlrmap">GitHub</a>.
  <p><a class="btn btn-primary btn-lg" href="https://ripienaar.github.io/travlrmap/" role="button">Learn more</a></p>
</div>
