<div class="jumbotron">
  <h1>Travlrmap</h1>
  <p>This site is creating using Travlrmap version <%= Travlrmap::VERSION %>.  It's a simple tool designed to be self-hosted or on a PaaS like Heroku. All the configuration and points are maintained in static YAML files.</p>
  <p>It's a standalone system, has no social features and is more aimed a city level tracker for places you have been rather than a coffee shop level check-in system, though a mobile app is planned to assist in logging visits while on the move.</p>
  <p>It's written by <a href="https://www.devco.net/">R.I.Pienaar</a>, released under the terms of the Apache 2 licence and can be found at <a href="http://github.com/ripienaar/travlrmap">GitHub</a>.
  <p><a class="btn btn-primary btn-lg" href="https://ripienaar.github.io/travlrmap/" role="button">Learn more</a></p>
</div>
<div class="container">
  <div class="row">
    <h2>Software libraries used</h2>
    <p>
    Various 3rd party libraries were used in creating this software:

    <ul>
      <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
      <li><a href="http://www.bootstrapcdn.com/">Bootstrap CDN</a></li>
      <li><a href="https://hpneo.github.io/gmaps/">GMaps.js</a></li>
      <li><a href="https://developers.google.com/maps/">Google Maps</a></li>
      <li><a href="https://github.com/mahnunchik/markerclustererplus">Marker Clusterer Plus</a></li>
      <li><a href="https://github.com/eternicode/bootstrap-datepicker">bootstrap-datepicker</a></li>
      <li><a href="http://bruth.github.io/jekyll-docs-template/">jekyll-docs-template</a></li>
      <li><a href="http://mapicons.nicolasmollet.com/">Map Icons Collection</a></li>
    </ul>
    </p>
  </div>
  <div class="row">
    <h2>Map type attributions</h2>
    <p>
    This system supports map tyles from various 3rd parties, copyright and attributions for those can be seen below.

    <ul>
      <li>Water Color and Toner tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.</li>
      <li>Positron and Dark Matter tiles &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>.</li>
      <li>Mapquest tiles by MapQuest, <a href="http://openstreetmap.org">OpenStreetMap</a> and <a href="http://www.openstreetmap.org/copyright">ODbL</a>.</li>
    </ul>
    </p>
  </div>
</div>
