<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
            {% if forloop.first %}
                <li class=nav-header>{{ label }}</li>
            {% endif %}
            <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    {% endfor %}
    <li class=divider></li>
    <li class=nav-header>Links</li>
    <li><a href="https://github.com/ripienaar/travlrmap">GitHub Repo</a></li>
    <li><a href="https://github.com/ripienaar/travlrmap/releases">Releases</a></li>
    <li><a href="https://www.devco.net/">R.I.Pienaar's Blog</a></li>

<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>
