:map:
  :data:
    - europe.yaml
    - america.yaml
  :width: "80%"
  :height: "90%"
  :zoom_control: true
  :map_type_control: true
  :street_view_control: true
  :overview_control: false
  :pan_control: true
  :title: My Travels
  :cluster: true
  :cluster_grid_size: 40
  :cluster_minumum_size: 2
  :cluster_zoom_on_click: true

:views:
  :default:
    :lat: 20
    :lon: 0
    :zoom: 2
    :description: World
  :europe:
    :lat: 48.195387
    :lon: 10.634766
    :zoom: 6
    :description: Europe

:types:
  :visit:
    :icon: http://your.site/markers/mini-ORANGE-BLANK.png
    :description: Visit
  :transit:
    :icon: http://your.site/markers/mini-BLUE-BLANK.png
    :description: Transit
  :lived:
    :icon: http://your.site/markers/mini-GREEN-BLANK.png
    :description: Lived
